        <tr style="background-color:{{ character.color }}">
          <td class="black-bg"> <img src="/static/classicon/{{ character.classe }}.png"/></td>
          <td class="black-bg">{{ character.name }}</td>
          <td class="black-bg">{{ character.server }}</td>
          <td class="black-bg">A AJOUTER</td>
          <td class="black-bg">{{ character.ilvl }}</td>
          <td class="black-bg">{{ character.raiderio }}</td>
          <td class="black-bg"><a href="{{ character.raiderio_link }}">link</a></td>
          <td class="black-bg"><a href="{{ character.armory_link }}">link</a></td>
          <td class="black-bg">{{ character.last_update }}</td>
          <td class="black-bg"><a href="{{ url_for('list', listname=list.name, region=character.region, server=character.server, charname=character.name, next=request.url) }}"><button> Delete</button></a></td>
        </tr>
