{% extends "base.html" %}
{% block content %}

    Welcome on TrüstApp - FR Elune WoW Guild.<br><br>

    {% if current_user %}
    You are connected with : {{ current_user.username }}<br>
    {% endif %}

    <div id="players">
    <ul class="list-group"id="players_ul">
        {% for list in current_user.lists %}
            <div class="container">
                <div class="card">
                  <div class="card-header">
                    {% include '_list.html' %}
                  </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
