{% include "base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
          <div class="card-header">
              <b>Create List</b>
          </div>
          <div class="card-body">
            <form action="{{ url_for("list") }}" method="post">
                <p>
                    Add List :<br>
                </p>
                {{ formList.name.label }}<br>
                {{ formList.name(size=32) }}<br>
                {% for error in formList.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>{{ formList.submit() }}</p>
             </form>
          </div>
        </div>
    </div>
    <hr>
    {% for list in current_user.lists %}
    <div class="container">
        <div class="card">
          <div class="card-header">
                {% include '_list.html' %}
          </div>
          <div class="card-body">
        <br>
            <form action="{{ url_for("list", listname=list.name) }}" method="post">
                <p>
                    Add Character :<br>
                </p>
                {{ formChar.name.label }}<br>
                {{ formChar.name(size=32) }}<br>
                {% for error in formChar.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <p>
                    {{ formChar.server.label }}<br>
                    {{ formChar.server(size=64) }}<br>
                    {% for error in formChar.server.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ formChar.region.label }}<br>
                    {{ formChar.region }}<br>
                    {% for error in formChar.region.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <p>{{ formChar.submit() }}</p>
             </form>
          </div>
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}
